*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #358600;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    box-shadow:  0 0 1rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    font-size: 8vmin;
    background-color: #cffcff;
    color: #61c132;
}
.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #cffcff;
    color: #266b04;
}
h1{
    font-size: 8vmin;
    color: #aaefdf;
}
.win{padding-top:1rem ;
    font-size: 6vmin;
    color: yellow;
}